@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Courier, monospace;
}

body {
    height: 100vh;
    width: 100vw;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding: 25%;
    background: linear-gradient(135deg, #f12711, #ff8b8b);
    text-align: center;
}

a {
    color: white;
}